<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winta.exceltosign">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".SignActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".IncreaseActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".SelectActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.ms-excel" />
                <!--<data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />-->
            </intent-filter>
        </activity>

        <activity android:name=".PictureSelect.PictureSelectDialog"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog" >

        </activity>
    </application>

</manifest>